		body.ui-overlay-c{background: #fff url('../img/bg-fishtank.jpg') no-repeat center top fixed !important;-webkit-background-size: 100% 100%;}
	
		.ui-page{max-width: 800px; background: none;margin: auto;position: relative!important}
		
		.ui-page .ui-content{padding: 30px; background: none;margin: auto}
		.ui-dialog .ui-content{padding: 30px; background: rgba(255, 255, 255, 0.6);margin: auto}
		
		.ui-block{ width: 340px!important;margin-bottom: 30px;}
		.ui-block-a{ float: left}
		.ui-block-b{float: right}
		
		.ui-block .block-header{
		background: #000;text-align: center;font-weight: bold;color: #fff;padding:10px 0;
		-webkit-border-top-left-radius: 8px;
		-webkit-border-top-right-radius: 8px;
		-moz-border-radius-topleft: 8px;
		-moz-border-radius-topright: 8px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		}

		.ui-block .block-content{
		background: rgba(255, 255, 255, 0.6);
		height: 170px; padding: 20px;-webkit-border-bottom-right-radius: 8px;
		-webkit-border-bottom-left-radius: 8px;
		-moz-border-radius-bottomright: 8px;
		-moz-border-radius-bottomleft: 8px;
		border-bottom-right-radius: 8px;
		border-bottom-left-radius: 8px;
		border: 1px solid #000;
		}
	
		.clear{clear: both}
		#tempContainer,#levelContainer{font-size:122px;font-style:italic;color: #d00;margin:auto;text-align:center}
        #datetimeContainer{font-size:12px;color: #000;margin:auto}
		
		#lightonContainer{font-size:80px;font-style:italic;color: #d00;margin:auto;text-align:center}
		#timeOnContainer, #timeOffContainer{text-align: center;}
		#timeOnContainer .value, #timeOffContainer .value{font-weight: bold}
		
		#lidContainer{font-size:80px;font-style:italic;color: #d00;margin:auto;text-align:center}
		
		#timeContainer{font-size:80px;font-style:italic;color: #d00;margin:auto;text-align:center}
		#dateContainer{font-size:26px;font-style:italic;color: #d00;margin:auto;text-align:center}
		
		
		#sldScreen, #sldLights, #sldVolume{display:none;}
		
		.slider-container{height: 50px;}
		.slider-container label{display:block;width: 100px;float:left;}
		
		div.ui-slider {width: 90% !important;}
		
		label{margin-top: 20px!important;}
		
		#events{overflow: auto; height: 170px}
		#events .event{font-size: 15px;padding: 6px 0; border-bottom: dashed 1px #aaa}
		
		#message .auto{background: #fff;padding: 5px 15px;margin: 5px;color: #000;text-shadow: none;
		font-size: 14px;
		text-decoration: none;
		display: block;
		float: left;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow:    0 1px 4px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
		box-shadow:         0 1px 4px rgba(0, 0, 0, 0.3);
		}
		

		.ui-controlgroup-controls{width: auto;}